.edit__profile-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.edit__profile_save-button {
  cursor: pointer;
  border: none;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  font-family: Cabinet Grotesk;
  font-weight: Bold;
  font-size: 20px;
  text-align: left;
}
.edit__profile_close-button {
  cursor: pointer;
  border: none;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  font-family: Cabinet Grotesk;
  font-weight: Bold;
  font-size: 20px;
  text-align: left;
}
.modal__save-button {
  cursor: pointer;
  border: none;
  background-color: black;
  color: rgba(255, 255, 255, 1);
  width: 128px;
  height: 36px;
  border-radius: 4px;
}
