.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}
.header__logo {
  margin-right: 24px;
}
.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__add-clothes-btn {
  font-family: Cabinet Grotesk;
  font-weight: Bold;
  font-size: 20px;
  line-height: 24px;
  border: none;
  color: rgba(0, 0, 0, 1);
  padding: 0;
}
.header__date-and-location {
  margin: 0;
  color: rgba(0, 0, 0, 1);
}
.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__user-info {
  display: flex;
  gap: 12px;
}
.header__username {
  margin: auto;
  font-family: Cabinet Grotesk;
  font-weight: Bold;
  font-size: 20px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.header__toggle-switch-container {
  margin-left: auto;
  margin-right: 20px;
}
.header__link {
  text-decoration: none;
  color: black;
  display: flex;
  gap: 12px;
}
.header__auth-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: Cabinet Grotesk;
  font-weight: Bold;
  font-size: 20px;
}
.header__login-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.header__signup-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
