.modal__content {
  display: flex;
  flex-direction: column;
}

.modal__content_type_image {
  position: relative;
  padding: 0;
  height: 610px;
  width: 498px;
}
.modal__image {
  height: 498px;
  width: 100%;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal__close_type_preview {
  border: none;
  background-repeat: no-repeat;
  background-image: url(../../assets/close.png);
  background-color: transparent;
}
.modal__footer {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  line-height: 24px;
  background-color: rgba(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.modal__caption {
  margin-bottom: 12px;
  margin-left: 32px;
}
.modal__weather {
  padding-left: 32px;
  padding-bottom: 32px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}
