.login__auth-buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-family: Cabinet Grotesk;
  font-weight:Bold;
  font-size: 16px;
  line-height: 20px;
}
.login__signin-button {
  cursor: pointer;
  color: white;
  background-color: gray;
  border: none;
  border-radius: 4px;
  width: 73px;
  height: 36px;
}
.login__signup-button {
  cursor: pointer;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
}
